{% include "about/base.html" %}

{% load static %}

{% block content %}


<div class="pt-5">
    <div class="container">
        <h1 class="h5"> Наши тренера: </h1>
        <hr>
        {% for trainer in trainers %}
        <br>
        <div class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image"
                     src="{{ trainer.image.url }}">
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{% url 'trainer-info' trainer.id %}" class="text-info">
                    <h1 class="h5 pt-2"> {{trainer.user.get_full_name}} </h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">
                                {% for key, value in reviews_stars.items %}
                                    {% if key == trainer.id %}
                                        {% for i in value.2|get_range %}
                                            <i class="fa fa-star text-success" aria-hidden="true"></i>
                                        {% endfor %}
                                        {% for i in value.3|get_range %}
                                            <i class="fa fa-star-o text-success" aria-hidden="true"></i>
                                        {% endfor %}
                                        Всего отзывов ({{ value.1 }})
                                    {% endif %}
                                {% endfor %}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-12">
                                {{trainer.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% include "about/footer.html" %}

