{% extends 'about/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: #B9F3E4;
    }
</style>

<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3 class="text-center"> Создаем аккаунт </h3>
    <hr>

    <form method="post" autocomplete="off">
        {% csrf_token %}

        {{form.username|as_crispy_field}}
        <br>
        {{form.email|as_crispy_field}}
        <br>
        {{form.password1|as_crispy_field}}
        <br>
        {{form.password2|as_crispy_field}}
        <br>
        <button type="submit" class="btn btn-info navbar-btn text-white w-100 p-2">
            Зарегистрироваться
        </button>
        <br><br>
        <div class="text-center">
            <a href="{% url 'login' %}">У меня уже есть аккаунт</a>
        </div>
    </form>
</div>
<br> <br>
{% endblock %}