<footer class="bg-secondary text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-vk"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-whatsapp"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>
    </section>

    <section class="mb-4">
      <p>
        Продолжая использовать (БУДУЩИЙ САЙТ).ru, вы соглашаетесь на использование файлов coоkie.
        Подробную информацию можно найти в Политике конфиденциальности.
        2023 ООО «Ромчик-Компани»
      </p>
    </section>

    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">О ЦЕНТРЕ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">О центре</a>
            </li>
            <li>
              <a href="#!" class="text-white">Деятельность</a>
            </li>
            <li>
              <a href="#!" class="text-white">Документы</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">ПОЛЕЗНЫЕ ССЫЛКИ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Услуги для населения</a>
            </li>
            <li>
              <a href="#!" class="text-white">Юридическая помощь</a>
            </li>
            <li>
              <a href="#!" class="text-white">Информация по COVID-2019</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">КОНТАКТЫ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white">телефон: (347) 222-20-52</a>
            </li>
            <li>
              <a class="text-white">e-mail: romchik-company@mail.ru</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>