{% extends "./base.html" %}

{% load static %}

{% block content %}
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('{% static 'media/images/main_home_page1.jpg' %}');
    height: 75vh;
  "
>
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <h2 class="elementor-heading-title elementor-size-default text-info" id="home-words">
          СИЛЬНЫЕ <span class="underlined underline-clip underline-clip-red">ЛЮДИ</span>
          <br>
          ПОМОГУТ ТЕБЕ <span class="underlined underline-clip underline-clip-violet">СДЕЛАТЬ</span>
          <br>
          РЕАЛЬНЫЙ <span class="underlined underline-clip underline-clip-orange">ПРОГРЕСС</span>.
          <br>
        </h2>
        <a
          type="button"
          role="button"
          href="{% url 'register' %}"
          class="btn btn-info btn-outline-primary"
          >
          <i class="fa fa-id-badge" aria-hidden="true"></i>
      &nbsp;        &nbsp;Зарегистрироваться
        </a>
      </div>
    </div>
  </div>

</div>
{% include "about/footer.html" %}
{% endblock %}

